a, button {
  .arrow--big {
    opacity: 1;
    margin: 0;
    fill: $punch;

    &.arrow--v {
      width: 50px;

      @media screen and (min-width: $screen-sm) {
        width: 7vw;
      }
    }

    &.arrow--h {
      height: 50px;

      @media screen and (min-width: $screen-sm) {
        height: 7vw;
      }
    }
  }
}