.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 0px;
  z-index: 9;
  transition: height 0.3s ease-in;
  overflow: hidden;

  &.open {
    height: 100vh;
  }

  .text-content {
    transition-duration: 0.5s !important;
  }
}

.menu__wrapper {
  padding: 20vh 0 12vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: scroll;
}

.menu__navLinks {
  margin-bottom: 50px;
}

.menu__navLink.inline-img__wrapper.text-mask {
  display: table;
  line-height: 0.8;
  padding-bottom: 2px;
  margin-bottom: 27px;
}

.menu__navLinkSymbol {
  padding-right: 10px;

  &.inline-img {
    left: 0;
    right: auto;
    transform: translateX(-40px);
  }
}

.menu__socialLinks {
  padding-left: 40px;
}

.menu__navLink {
  padding-left: calc(5vw + 40px);
}

.menu__socialLink {
  display: table;
  margin-bottom: 10px;
}

@media screen and (min-width: $screen-sm) {
  .menu__socialLinks {
    padding-left: 50px;
  }

  .menu__navLink {
    padding-left: calc(5vw + 50px);
  }

  .menu__navLinkSymbol.inline-img {
    transform: translateX(-50px);
  }
}

@media screen and (min-width: $screen-lg) {
  .menu__navLinkSymbol.inline-img {
    transform: translateX(-80px);
    opacity: 0;
    transition: all 0.3s $transition-style;
  }

  .menu__navLink {
    &:hover,
    &:focus {
      .menu__navLinkSymbol.inline-img {
        opacity: 1;
        transform: translateX(-50px);
      }
    }
  }
}
