@import '../index.scss';

.project__intro-top {
  white-space: pre-line;
  margin-bottom: 40px;
}

.project__intro-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.project__title {
  h1 {
    line-height: 1;
  }

  .arrow {
    margin-left: 10px;
  }
}

.project__tag {
  display: inline-block;
  margin-left: 20px;
}

.project__exit {
  display: flex;
  flex-direction: column-reverse;

  @media screen and (min-width: $screen-sm) {
    flex-direction: column;
  }
}

@media screen and (min-width: $screen-md) {
  .project__intro-top {
    margin-bottom: 10vw;
  }
}

@media screen and (min-width: $screen-xl) {
  .project__tag {
    margin-left: 40px;
  }
}

.article--design,
.article__columns {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

@media screen and (min-width: $screen-sm) {
  .article--design,
  .article__columns {
    margin-bottom: 10vw;
    flex-direction: row;
    justify-content: space-between;

    &.reverse {
      flex-direction: row-reverse;
    }
  }
}