@import '../index.scss';

.text--animated {
  transition: opacity 0.5s ease-in;
  opacity: 0;
  visibility: hidden;

  .text-mask {
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
    margin-right: .25em;
  }

  .text-content {
    display: inline-block;
    transform: translate3d(0, 200%, 0);
    will-change: transform;
    transition: transform 0.8s ease-out;
  }

  br {
    display: none;

    @media screen and (min-width: $screen-md) {
      display: block;
    }
  }
}

.revealed {
  .text--animated {
    opacity: 1;
    visibility: inherit;
  }

  .text-content {
    transform: translate3d(0, 0, 0);
  }
}

.delay {
  .text--animated,
  .text-content {
    transition-delay: 0.15s;
  }
}