@import '../index.scss';

.contact-form__wrapper {
  margin: 50px 5vw 20vh; 
}

.contact-form__intro {
  text-align: left;
  margin-bottom: 30px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  min-height: 240px;
  border: 1px solid $light;
  margin-bottom: 80px;

  textarea,
  input {
    background-color: transparent !important;
    color: $light;
    border: none;
    margin: 0;
    padding: 20px;
    font-weight: normal;
    font-family: Moderat-Thin, "Helvetica Neue", sans-serif;

    &:focus {
      outline: none;
    }
  }

  textarea {
    border: none;
    border-bottom: 1px solid $light;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 80px;
    min-height: 80px;
    transition: min-height .5s ease-out;

    &:focus {
      min-height: 200px;
    }
  }

  @media screen and (min-width: $screen-sm) {
    min-height: 128px;

    .contact-form__bottom,
    textarea {
      min-height: 64px;
    }
  }

  @media screen and (min-width: $screen-md) {
    min-height: 240px;

    .contact-form__bottom,
    textarea {
      min-height: 120px;
    }
  }

  @media screen and (min-width: $screen-xl) {
    min-height: 360px;

    .contact-form__bottom,
    textarea {
      min-height: 180px;
    }
  }
}

.contact-form__bottom {
  display: flex;
  width: 100%;
  
  input, button {
    width: 50%;
    min-height: 100%;
  }

  input {
    border-right: 1px solid $light;

    &::placeholder {
      color: $light;
    }
  }

  button {
    padding: 20px;
    text-align: left;
  }

  @media screen and (max-width: $screen-sm - 1) {
    flex-direction: column;

    input, button {
      width: 100%;
      height: 80px;
    }

    input {
      border-bottom: 1px solid $light;
      border-right: none;
    }
  }
}
