@import '../index.scss';

@keyframes slide-in {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}

.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 0px;
  z-index: 9;
  transition: height 0.8s $transition-style;
  overflow: hidden;

  &.open {
    height: 100vh;
  }
}

.menu__wrapper {
  padding: 20vh 5vw 12vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: scroll;
}

.menu__navLinks {
  margin-bottom: 50px;
}

.menu__navLink {
  margin-bottom: 20px;
  display: table;
}

.menu__navLinkSymbol {
  padding-right: 10px;
  width: 50px;
  display: inline-flex;
  justify-content: center;
}

.menu__socialLinks {
  padding-left: 50px;
}

.menu__socialLink {
  display: table;
  margin-bottom: 10px;
}

@media screen and (min-width: $screen-lg) {
  .menu__navLinks {
    padding-left: 50px;
  }

  .menu__navLink {
    position: relative;

    &:hover .menu__navLinkSymbol {
      transform: translateX(0);
    }
  }

  .menu__navLinkSymbol {
    position: absolute;
    padding-right: 20px;
    top: 0;
    left: -50px;
    transform: translateX(-20vw);
    transition: transform 0.5s $transition-style;
  }
}
