@import '../index.scss';

.projects-list {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  overflow: hidden;
  position: relative;
  padding-top: 40px;
}

.projects-list__project {
  width: 100%;
  overflow: hidden;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 120px;
  position: relative;

  &.overflow {
    &:nth-child(odd) {
      margin-left: 0;
    }

    &:nth-child(even) {
      margin-right: 0;
    }
  }

  footer {
    max-width: 60%;
  }

  &.hidden {
    max-width: 0;
    opacity: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

.projects-list__project-name {
  margin-top: 25px;
  margin-bottom: 10px;
  text-align: left;
}

.projects-list__project-tags {
  display: flex;
  flex-wrap: wrap;
  
  span {
    white-space: nowrap;
    margin-right: 5px;
  }
}

.w-30 { max-width: 30%; }
.w-35 { max-width: 35%; }
.w-40 { max-width: 40%; }
.w-45 { max-width: 45%; }
.w-50 { max-width: 50%; }
.w-55 { max-width: 55%; }

@media screen and (max-width: $screen-lg - 1) {
  .projects-list__project footer {
    max-width: 90%;
  }
}

@media screen and (max-width: $screen-sm) {
  .projects-list__project {
    margin-bottom: 80px;
    margin-top: 0 !important;
  }

  .projects-list__project-name {
    margin-top: 15px;
    margin-bottom: 5px;
  }

  .w-30 { max-width: 55%; }
  .w-35 { max-width: 65%; }
  .w-40 { max-width: 75%; }
  .w-45 { max-width: 85%; }
  .w-50 { max-width: 95%; }
  .w-55 { max-width: 100%; }
}